<!DOCTYPE html>
<html>
<body>
<p>Liebe/r <b>$firstName $lastName,</b></p>

<p>Wir haben bemerkt, dass Sie eine Passwortzurücksetzung für Ihr TopLeader-Konto angefordert haben. Keine Sorge, wir sind hier, um Ihnen zu helfen!</p>

<p><a href="$link" target="_blank">Um ein neues Passwort einzurichten, klicken Sie bitte hier</a></p>

<p>Dieser Link führt Sie zu einer sicheren Seite, auf der Sie ein neues Passwort eingeben können. Bitte wählen Sie aus Sicherheitsgründen ein starkes und einzigartiges Passwort.</p>

<p>Wenn Sie kein Zurücksetzen des Passworts angefordert haben, ignorieren Sie bitte diese E-Mail oder kontaktieren Sie unser Support-Team unter support@topleader.io, um die Sicherheit Ihres Kontos zu gewährleisten.</p>

<p>Wenn Sie Fragen haben oder weitere Hilfe benötigen, zögern Sie nicht, uns unter support@topleader.io zu kontaktieren.</p>

<p>Vielen Dank, dass Sie TopLeader nutzen!</p>

<p>Mit freundlichen Grüßen,</p>
<p>Das TopLeader-Team</p>
</body>
</html>