<!DOCTYPE html>
<html>
<body>
<p>Dear <b>${firstName} ${lastName},</b></p>

<p>We noticed that you've requested to reset your password for your TopLeader account. No worries, we're here to help!</p>

<p><a href="${link}" target="_blank">To set up a new password, please click here</a></p>

<p>This link will take you to a secure page where you can enter a new password. For your security, please make sure to choose a strong and unique password.</p>

<p>If you did not request to reset your password, please ignore this email or contact our support team at support@topleader.io to ensure the security of your account.</p>

<p>If you have any questions or need further assistance, feel free to reach out to us at support@topleader.io.</p>

<p>Thank you for using TopLeader!</p>

<p>Best,</p>
<p>The TopLeader Team</p>
</body>
</html>