<!DOCTYPE html>
<html>
<body>
<p>Vážený/á <b>${firstName} ${lastName},</b></p>

<p>Všimli jsme si, že jste požádali o obnovení hesla k vašemu účtu v TopLeader. Nevadí, jsme tady, abychom vám pomohli!</p>

<p><a href="${link}" target="_blank">Pro nastavení nového hesla prosím klikněte zde</a></p>

<p>Tento odkaz vás přesměruje na zabezpečenou stránku, kde můžete zadat nové heslo. Pro vaši bezpečnost se ujistěte, že si zvolíte silné a jedinečné heslo.</p>

<p>Pokud jste nežádali o obnovení hesla, prosím ignorujte tento email nebo kontaktujte naši podporu na support@topleader.io, abychom zajistili bezpečnost vašeho účtu</p>

<p>Pokud máte nějaké dotazy nebo potřebujete další pomoc, neváhejte nás kontaktovat na support@topleader.io.</p>

<p>Děkujeme, že používáte TopLeader!</p>

<p>S pozdravem,</p>
<p>Tým TopLeader</p>
</body>
</html>