<html>
<body>
Cher/Chère $firstName $lastName,

Nous avons remarqué que vous avez demandé à réinitialiser le mot de passe de votre compte TopLeader. Pas de soucis, nous sommes là pour vous aider !

Pour définir un nouveau mot de passe, veuillez cliquer sur le lien ci-dessous :
$link

<a href="$link" target="_blank">Pour créer un nouveau mot de passe, veuillez cliquer ici</a>

Ce lien vous dirigera vers une page sécurisée où vous pourrez saisir un nouveau mot de passe. Pour votre sécurité, veuillez choisir un mot de passe fort et unique.

Si vous n'avez pas demandé à réinitialiser votre mot de passe, veuillez ignorer cet e-mail ou contacter notre équipe d'assistance à support@topleader.io pour assurer la sécurité de votre compte.

Si vous avez des questions ou avez besoin d'aide supplémentaire, n'hésitez pas à nous contacter à support@topleader.io.

Merci d'utiliser TopLeader!

Cordialement,
L'équipe TopLeader
</body>
</html>