<!DOCTYPE html>
<html>
<body>
<p>Cher/Chère <b>${firstName} ${lastName},</b></p>

<p>Nous avons remarqué que vous avez demandé à réinitialiser le mot de passe de votre compte TopLeader. Pas de soucis, nous sommes là pour vous aider !</p>

<p>Pour définir un nouveau mot de passe, veuillez cliquer sur le lien ci-dessous :</p>

<p><a href="${link}" target="_blank">Pour créer un nouveau mot de passe, veuillez cliquer ici</a></p>

<p>Ce lien vous dirigera vers une page sécurisée où vous pourrez saisir un nouveau mot de passe. Pour votre sécurité, veuillez choisir un mot de passe fort et unique.</p>

<p>Si vous n'avez pas demandé à réinitialiser votre mot de passe, veuillez ignorer cet e-mail ou contacter notre équipe d'assistance à support@topleader.io pour assurer la sécurité de votre compte.</p>

<p>Si vous avez des questions ou avez besoin d'aide supplémentaire, n'hésitez pas à nous contacter à support@topleader.io.</p>

<p>Merci d'utiliser TopLeader!</p>

<p>Cordialement,</p>
<p>L'équipe TopLeader</p>
</body>
</html>