<!DOCTYPE html>
<html>
<body>

<p>Dear <b>$firstName $lastName</b>,</p>

<p>To access your account, please click <a href="$link" target="_blank">here</a></p>

<p>Best regards, The TopLeader Team</p>

</body>
</html>