<!DOCTYPE html>
<html>
<body>

<p>Dear <b>$firstName $lastName</b>,</p>

<p>Exciting news! A user has selected you as their coach on the TopLeader platform.
    This means they’ll soon be looking to schedule sessions with you.</p>

<p>To ensure smooth coordination, we recommend checking your availability and keeping it up to date.</p>

<p>💬 You can already reach out to them through the messaging tool to connect and explore their goals and expectations for coaching.</p>


<p>👉 Log in to your TopLeader account <a href="$link" target="_blank">here</a></p>

<p>We’re proud to have you as part of our expert coaching team and look forward to the impact you'll make.</p>

<p>Warm regards</p>
<p><b>The TopLeader Team</b></p>

</body>
</html>