<!DOCTYPE html>
<html>
<body>

<p>Bonjour <b>${firstName} ${lastName}</b>,</p>

<p>Bonne nouvelle ! Un utilisateur vous a choisi comme coach sur la plateforme TopLeader.
    Cela signifie qu’il ou elle souhaitera bientôt planifier des sessions avec vous.</p>

<p>Nous vous recommandons de vérifier et mettre à jour vos disponibilités dans votre calendrier.</p>

<p>💬 Vous pouvez dès maintenant le/la contacter via l’outil de messagerie pour échanger et comprendre ses objectifs et attentes en matière de coaching.</p>


<p>👉 Connectez-vous à votre compte TopLeader <a href="${link}" target="_blank">here</a></p>

<p>Nous sommes ravis de vous compter parmi notre équipe de coachs experts et avons hâte de voir votre impact.</p>

<p>Cordialement,</p>
<p><b>L’équipe TopLeader</b></p>

</body>
</html>