<!DOCTYPE html>
<html>
<body>

<p>Milý/á  <b>$firstName $lastName</b>,</p>

<p>Skvělá zpráva! Uživatel si vás vybral jako svého kouče na platformě TopLeader.
    Brzy si s vámi bude chtít naplánovat rozvojová sezení.</p>

<p>Doporučujeme zkontrolovat a aktualizovat svou dostupnost v kalendáři.</p>

<p>💬 Už nyní mu/jí můžete napsat prostřednictvím nástroje pro zprávy, abyste se propojili a zjistili více o jeho/jejích cílech a očekáváních od koučinku.

</p>


<p>👉 Přihlásit se do svého účtu TopLeader <a href="$link" target="_blank">here</a></p>

<p>Jsme rádi, že jste součástí našeho týmu koučů, a těšíme se na váš přínos!</p>

<p>S přáním hezkého dne,</p>
<p><b>Tým TopLeader</b></p>

</body>
</html>