<!DOCTYPE html>
<html>
<body>

<p>Vážený/á <b>$firstName $lastName</b>,</p>

<p>máme skvělou zprávu! Někdo si rezervoval sezení s vámi na platformě TopLeader. Přihlaste se prosím, abyste si mohli prohlédnout detaily a připravit se na vaši nadcházející schůzku.</p>

<p>Pro přístup k vašemu účtu klikněte <a href="$link" target="_blank">zde</a></p>

<p>Těšíme se na pozitivní vliv, který bude mít vaše působení!</p>

<p>S pozdravem, Tým TopLeader</p>


</body>
</html>