<!DOCTYPE html>
<html>
<body>

<p>Cher/Chère <b>$firstName $lastName</b>,</p>

<p>Bonne nouvelle ! Quelqu'un a réservé une session avec vous sur la plateforme TopLeader. Veuillez vous connecter pour voir les détails et vous préparer pour votre prochaine session.</p>

<p>Pour accéder à votre compte, veuillez cliquer <a href="$link" target="_blank">ici</a></p>

<p>Au plaisir de voir l'impact que vous allez crée !</p>

<p>Cordialement, L'équipe TopLeader</p>

</body>
</html>