<!DOCTYPE html>
<html>
<body>

<p>Sehr geehrte/r <b>$firstName $lastName</b>,</p>

<p>gute Nachrichten! Jemand hat eine Sitzung mit Ihnen auf der TopLeader-Plattform gebucht. Bitte melden Sie sich an, um die Details einzusehen und sich auf Ihre bevorstehende Sitzung vorzubereiten.</p>

<p>Um auf Ihr Konto zuzugreifen, klicken Sie bitte <a href="$link" target="_blank">heir</a></p>

<p>Wir freuen uns auf die Auswirkungen, die Sie erzielen werden!</p>

<p>Mit freundlichen Grüßen, Das TopLeader-Team</p>

</body>
</html>