<!DOCTYPE html>
<html>
<body>

<p>Dear <b>$firstName $lastName</b>,</p>

<p>Great news! You have successfully booked a session on the TopLeader platform. Please log in to view the details and prepare for your upcoming session.</p>

<p>Session Date and Time: <b>$time</b></p>

<p>To access your account, please click <a href="$link" target="_blank">here</a></p>

<p>We look forward to supporting you in making impactful strides in your development!</p>

<p>Best regards, The TopLeader Team</p>

</body>
</html>