<!DOCTYPE html>
<html>
<body>

<p>Dobrý den <b>${firstName} ${lastName}</b>,</p>

<p>Skvělé zprávy! Úspěšně jste si rezervovali sezení na platformě TopLeader. Pro zobrazení detailů a přípravu na vaše nadcházející sezení se prosím přihlaste.</p>

<p>Datum a čas sezení: <b>${time}</b></p>

<p>Pro přístup k vašemu účtu a detailům sezení klikněte zde: <a href="${link}" target="_blank">here</a></p>

<p>Těšíme se na podporu vašeho rozvoje!</p>

<p>S pozdravem,</p>
<p>Váš tým TopLeader</p>

</body>
</html>