<!DOCTYPE html>
<html>
<body>
<p>Hello,</p>

<p>I hope this message finds you well. I am seeking feedback on the TopLeader platform regarding my performance and characteristics.</p>

<p>Your insights are crucial for my progress. Can you kindly take a few minutes to share your feedback? Your candid response will help me understand areas of improvement and excel further.</p>

<p>Please complete the feedback by <b>$validTo.</b></p>

<p><a href="$link" target="_blank">Click here to provide your feedback</a></p>

<p>By clicking the above link, you acknowledge the Privacy Policy of TopLeader, which can be viewed at <a href="https://www.topleader.io/privacy-policy" target="_blank">Privacy Policy | TopLeader</a></p>

<p>Your participation will remain confidential. I appreciate your time and effort in assisting my development journey.</p>

<p>Thank you for your support.</p>

<p>Best regards,</p>

<p>$firstName $lastName</p>
</body>
</html>