<!DOCTYPE html>
<html>
<body>
<p>Dobrý den,</p>

<p>doufám, že se máte dobře. V rámci mého závazku k neustálému osobnímu a profesnímu růstu hledám zpětnou vazbu na platformě TopLeader týkající se mého výkonu a charakteristik.</p>

<p>Vaše postřehy jsou pro můj pokrok klíčové. Mohli byste si prosím vyhradit několik minut a podělit se o svou zpětnou vazbu? Vaše upřímná odpověď mi výrazně pomůže pochopit oblasti ke zlepšení a ještě více se zlepšit.</p>

<p>Prosím, dokončete zpětnou vazbu do <b>$validTo.</b></p>

<p><a href="$link" target="_blank">Klikněte zde a poskytněte svou zpětnou vazbu</a></p>

<p>Kliknutím na výše uvedený odkaz souhlasíte s podmínkami TopLeader, které si můžete prohlédnout na www.topleader.io/terms-conditions.</p>

<p>Vaše účast zůstane důvěrná a upřímně si vážím vašeho času a úsilí, které věnujete mé cestě rozvoje.</p>

<p>Děkuji za vaši podporu.</p>

<p>S pozdravem,</p>

<p>Top-leader Team</p>
</body>
</html>