<!DOCTYPE html>
<html>
<body>
<p>Betreff: Ihre wertvolle Rückmeldung für [Name]'s Entwicklung auf TopLeader erbeten</p>

<p>Hallo,</p>

<p>ich hoffe, diese Nachricht erreicht Sie wohlauf. Als Teil meines Engagements für kontinuierliches persönliches und berufliches Wachstum suche ich nach Rückmeldungen auf der TopLeader-App bezüglich meiner Leistung und meiner Eigenschaften.</p>

<p>Ihre Erkenntnisse sind entscheidend für meinen Fortschritt. Könnten Sie sich bitte einige Minuten Zeit nehmen, um Ihr Feedback zu teilen? Ihre ehrliche Antwort wird mir sehr helfen, Bereiche zur Verbesserung zu verstehen und mich weiter zu entwickeln.</p>

<p>Bitte vervollständigen Sie das Feedback bis zum <b>$validTo.</b></p>

<p><a href="$link" target="_blank">Klicken Sie hier, um Ihr Feedback abzugeben</a></p>

<p>Durch Klicken auf den oben stehenden Link stimmen Sie den Allgemeinen Geschäftsbedingungen von TopLeader zu, die unter www.topleader.io/terms-conditions eingesehen werden können.</p>

<p>Ihre Teilnahme bleibt vertraulich, und ich schätze aufrichtig Ihre Zeit und Mühe bei der Unterstützung meiner Entwicklungsreise.</p>

<p>Vielen Dank für Ihre Unterstützung.</p>

<p>Mit freundlichen Grüßen,</p>

<p>$firstName $lastName</p>
</body>
</html>
