<!DOCTYPE html>
<html>
<body>
<p>Dobrý den,</p>

<p>Doufám, že vás tento e-mail zastihne v pořádku. Prosím o zpětnou vazbu na platformě TopLeader týkající se mého rozvoje.</p>

<p>Vaše postřehy jsou pro můj pokrok zásadní. Můžete si prosím najít pár minut na sdílení vaší zpětné vazby? Vaše upřímná odpověď mi pomůže pochopit oblasti, ve kterých se mohu zlepšit a dále se rozvíjet.</p>

<p>Prosím, dokončete zpětnou vazbu do <b>${validTo}.</b></p>

<p><a href="${link}" target="_blank">Klikněte zde pro poskytnutí zpětné vazby</a></p>

<p>Kliknutím na výše uvedený odkaz berete na vědomí Zásady ochrany osobních údajů TopLeader, které lze zobrazit na <a href="https://www.topleader.io/privacy-policy" target="_blank">Privacy Policy | TopLeader</a></p>

<p>Vaše účast zůstane důvěrná. Děkuji za váš čas a úsilí při asistenci v mém rozvojovém procesu.</p>

<p>Děkuji za vaši podporu.</p>

<p>S pozdravem,</p>

<p>${firstName} ${lastName}</p>
</body>
</html>