<!DOCTYPE html>
<html>
<body>
<p>Betreff: Ihre wertvolle Rückmeldung für [Name]'s Entwicklung auf TopLeader erbeten</p>

<p>Hallo,</p>

<p>Ich hoffe, diese Nachricht erreicht Sie wohlauf. Ich suche nach Feedback auf der TopLeader-Plattform bezüglich meiner Leistung und Eigenschaften.</p>

<p>Ihre Einsichten sind entscheidend für meinen Fortschritt. Können Sie bitte ein paar Minuten nehmen, um Ihr Feedback zu teilen? Ihre ehrliche Antwort wird mir helfen, Bereiche zu verstehen, in denen ich mich verbessern kann und weiter vorankommen kann.</p>

<p>Bitte füllen Sie das Feedback bis zum<b>${validTo}.</b></p>

<p><a href="${link}" target="_blank">Klicken Sie hier, um Ihr Feedback zu geben</a></p>

<p>Mit dem Klicken auf den obigen Link erkennen Sie die Datenschutzrichtlinie von TopLeader an, die unter <a href="https://www.topleader.io/privacy-policy" target="_blank">Privacy Policy | TopLeader</a><</p>

<p>Ihre Teilnahme bleibt vertraulich. Ich danke Ihnen für Ihre Zeit und Mühe, mir bei meiner Entwicklung zu helfen.

</p>

<p>Vielen Dank für Ihre Unterstützung.</p>

<p>Mit freundlichen Grüßen,</p>

<p>${firstName} ${lastName}</p>
</body>
</html>
