<!DOCTYPE html>
<html>
<body>
<p>Hello,</p>

<p>I hope you're doing well. Just a friendly reminder that your feedback on my performance and characteristics on the TopLeader platform is still needed.</p>

<p>Your insights play a key role in my growth, and I would greatly appreciate it if you could take a few minutes to share your thoughts. Your feedback helps me understand areas where I can improve and continue to grow.</p>

<p>Please complete the feedback by <b>$validTo.</b> to ensure it's received on time.</p>

<p><a href="$link" target="_blank">Click here to provide your feedback</a></p>

<p>By clicking the above link, you acknowledge the Privacy Policy of TopLeader, which can be viewed at <a href="https://www.topleader.io/privacy-policy" target="_blank">Privacy Policy | TopLeader</a></p>

<p>Your feedback will remain confidential. Thank you again for your time and valuable input—it really makes a difference.</p>

<p>Best regards,</p>

<p>$firstName $lastName</p>
</body>
</html>