<!DOCTYPE html>
<html>
<body>
<p>Bonjour,</p>

<p>J'espère que vous allez bien. Ceci est un petit rappel que votre retour concernant ma performance et mes caractéristiques sur la plateforme TopLeader est toujours attendu.</p>

<p>Vos observations jouent un rôle clé dans ma croissance, et je vous serais reconnaissant(e) de prendre quelques minutes pour partager vos pensées. Vos retours m’aident à identifier les domaines où je peux m'améliorer et continuer à grandir.</p>

<p>Veuillez compléter votre retour d’ici le <b>${validTo}.</b> pour qu'il soit pris en compte à temps.</p>

<p><a href="${link}" target="_blank">Cliquez ici pour fournir votre retour</a></p>

<p>En cliquant sur le lien ci-dessus, vous reconnaissez la Politique de confidentialité de TopLeader, consultable à <a href="https://www.topleader.io/privacy-policy" target="_blank">Privacy Policy | TopLeader</a></p>

<p>Votre participation restera confidentielle. Merci encore pour votre temps et vos précieux retours – cela fait vraiment la différence.</p>

<p>Cordialement,</p>

<p>${firstName} ${lastName}</p>
</body>
</html>