<!DOCTYPE html>
<html>
<body>
<p>Hallo,</p>

<p>Ich hoffe, es geht Ihnen gut. Dies ist eine freundliche Erinnerung, dass Ihr Feedback zu meiner Leistung und meinen Eigenschaften auf der TopLeader-Plattform weiterhin benötigt wird.</p>

<p>Ihr Feedback spielt eine entscheidende Rolle für mein Wachstum, und ich wäre Ihnen sehr dankbar, wenn Sie sich ein paar Minuten Zeit nehmen könnten, um Ihre Gedanken zu teilen. Ihre Rückmeldungen helfen mir, Bereiche zu erkennen, in denen ich mich verbessern und weiter wachsen kann.</p>

<p>Bitte füllen Sie Ihr Feedback bis zum <b>$validTo.</b> aus, damit es rechtzeitig empfangen wird.</p>

<p><a href="$link" target="_blank">Klicken Sie hier, um Ihr Feedback abzugeben</a></p>

<p>Mit dem Klicken auf den obigen Link erkennen Sie die Datenschutzrichtlinie von TopLeader an, die unter <a href="https://www.topleader.io/privacy-policy" target="_blank">Privacy Policy | TopLeader</a><</p>

<p>Ihr Feedback bleibt vertraulich. Nochmals vielen Dank für Ihre Zeit und wertvollen Anregungen – es macht wirklich einen Unterschied.</p>

<p>Mit freundlichen Grüßen,</p>

<p>$firstName $lastName</p>
</body>
</html>
