<!DOCTYPE html>
<html>
<body>
<p>Dobrý den,</p>

<p>Doufám, že se máte dobře. Rád/a bych vám připomněl/a, že vaše zpětná vazba ohledně mého výkonu a charakteristik na platformě TopLeader je stále potřeba.</p>

<p>Vaše názory hrají klíčovou roli v mém růstu a velmi bych ocenil/a, kdybyste si našli pár minut na sdílení svých myšlenek. Vaše zpětná vazba mi pomůže pochopit oblasti, kde se mohu zlepšit, a dále růst.</p>

<p>Prosím, vyplňte zpětnou vazbu do <b>$validTo.</b>, aby byla přijata včas.</p>

<p><a href="$link" target="_blank">Klikněte zde pro poskytnutí zpětné vazby</a></p>

<p>Kliknutím na výše uvedený odkaz berete na vědomí Zásady ochrany osobních údajů TopLeader, které lze zobrazit na <a href="https://www.topleader.io/privacy-policy" target="_blank">Privacy Policy | TopLeader</a></p>

<p>Vaše zpětná vazba zůstane důvěrná. Ještě jednou děkuji za váš čas a cenné podněty – opravdu na tom záleží.</p>

<p>S pozdravem,</p>

<p>$firstName $lastName</p>
</body>
</html>