server:
  port: 8080

spring:
  threads:
    virtual:
      enabled: true
  ai:
    openai:
      api-key: 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
      chat:
        options:
          model: gpt-3.5-turbo
  datasource:
    url: jdbc:postgresql://localhost:5432/top_leader
    username: root
    password: postgres
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    open-in-view: false
  flyway:
    placeholder-replacement: false
    baseline-on-migrate: true
    validate-on-migrate: true
  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          starttls:
            enable: true
            required: true
          auth: true
  servlet:
    multipart:
      max-file-size: 10MB

  jackson:
    date-format: "yyyy-MM-dd'T'HH:mm:ss"

  session:
    jdbc:
      initialize-schema: never

top-leader:
  app-url: http://localhost:8080
  supported-invitations: en, cs, fr, de
  default-locale: en
  default-from: top-leader