<!DOCTYPE html>
<html>
<body>

<p>Bonjour <b>${firstName} ${lastName}</b>,</p>

<p>Chaque étape compte sur le chemin de la croissance. Avez-vous déjà réfléchi à votre prochain grand objectif ? Définir une direction claire est la première étape pour libérer votre potentiel.</p>

<p>Une fois votre objectif défini, vous pouvez passer à l'étape suivante avec une session privée ou une session avec nos coachs experts. La régularité accélère votre progression vers le développement.</p>

<p>Votre plan de développement personnalisé vous attend. Continuez à bâtir votre parcours unique vers le succès – vous êtes plus proche que vous ne le pensez.</p>

<p><b><a href="${appLink}" target="_blank">Connectez-vous et réservez votre prochaine session ici.</a></b></p>

<p>Nous sommes là pour vous accompagner à chaque étape.</p>

<p>Votre équipe TopLeader</p>

<p>P.S. Votre croissance est notre priorité. Si vous avez des suggestions ou des retours, n'hésitez pas à nous les partager à l'adresse <a href="${appLink}" target="_blank">platform@topleader.io</a></p>

</body>
</html>