<!DOCTYPE html>
<html>
<body>

<p><b>$firstName $lastName,</b> continuous development drives the best results! A regular session, whether it’s private or with a coach, helps you build momentum and stay aligned with your goals. Take a moment to schedule your next session and make progress on your journey to excellence.</p>

<p>Remember, we’re here to support you—any feedback is welcome at <a href="$link" target="_blank">platform@topleader.io</a></p>

<p>Thank you,</p>

<p>Your TopLeader Team</p>

</body>
</html>