<!DOCTYPE html>
<html>
<body>

<p><b>$firstName $lastName,</b> consistent growth is the key to excellence! Whether you prefer a private session or a session with a coach, each session helps you stay on track and make tangible progress on your journey. Book your next session now to keep moving forward.</p>

<p>If you have any feedback that could improve your experience, feel free to share it with us at<a href="$link" target="_blank">platform@topleader.io</a></p>

<p>Thank you,</p>

<p>Your TopLeader Team</p>

</body>
</html>