<!DOCTYPE html>
<html>
<body>

<p><b>${firstName} ${lastName},</b> kontinuierliche Entwicklung bringt die besten Ergebnisse! Eine regelmäßige Sitzung, ob privat oder mit einem Coach, hilft Ihnen, Schwung aufzubauen und Ihre Ziele zu erreichen. Nehmen Sie sich einen Moment Zeit, um Ihre nächste Sitzung zu planen und Fortschritte auf dem Weg zur Exzellenz zu machen.</p>

<p>Denken Sie daran, wir sind hier, um Sie zu unterstützen – jedes Feedback ist willkommen unter <a href="${link}" target="_blank">platform@topleader.io</a></p>

<p>Vielen Dank,</p>

<p>Ihr TopLeader-Team</p>

</body>
</html>