<!DOCTYPE html>
<html>
<body>

<p><b>$firstName $lastName,</b> Ihr Weg zum Wachstum ist uns wichtig. Regelmäßige Check-ins, ob privat oder mit einem Coach, sind kraftvolle Werkzeuge, um auf Kurs zu bleiben und Ihre Ziele zu erreichen. Buchen Sie noch heute eine Sitzung, um weiter auf dem Weg zur Exzellenz voranzukommen.</p>

<p>Wir schätzen Ihr Feedback, zögern Sie nicht, uns Ihre Anregungen an <a href="$link" target="_blank">platform@topleader.io</a> zu senden.</p>

<p>Vielen Dank,</p>

<p>Ihr TopLeader-Team</p>

</body>
</html>