<!DOCTYPE html>
<html>
<body>

<p><b>$firstName $lastName,</b> votre parcours de croissance est important pour nous. Des check-ins réguliers, qu'ils soient privés ou avec un coach, sont efficaces pour rester sur la bonne voie et atteindre vos objectifs. Réservez une session dès aujourd'hui pour continuer à progresser vers l'excellence.</p>

<p>Nous apprécions vos retours, n'hésitez pas à partager vos suggestions à <a href="$link" target="_blank">platform@topleader.io</a></p>

<p>Merci,</p>

<p>Votre équipe TopLeader</p>

</body>
</html>