<!DOCTYPE html>
<html>
<body>

<p><b>$firstName $lastName,</b> kontinuální rozvoj přináší nejlepší výsledky! Pravidelná lekce, ať už soukromá nebo s koučem, vám pomůže získat impulz a zůstat na cestě ke svým cílům. Udělejte si čas a naplánujte si další lekci, abyste pokročili na své cestě k excelenci.</p>

<p>Jsme tu, abychom vás podpořili – jakákoli zpětná vazba je vítána na <a href="$link" target="_blank">platform@topleader.io</a></p>

<p>Děkujeme,</p>

<p>Váš tým TopLeader</p>

</body>
</html>