<!DOCTYPE html>
<html>
<body>

<p><b>$firstName $lastName,</b> vaše cesta k růstu je pro nás důležitá. Pravidelné check-iny, ať už soukromé nebo s koučem, jsou skvělým nástrojem, jak zůstat na správné cestě a dosáhnout svých cílů. Naplánujte si dnes lekci a pokračujte v pokroku na své cestě k excelenci.</p>

<p>Vaše zpětná vazba je pro nás cenná, neváhejte nám ji sdílet na <a href="$link" target="_blank">platform@topleader.io</a></p>

<p>Děkujeme,</p>

<p>Váš tým TopLeader</p>

</body>
</html>