<!DOCTYPE html>
<html>
<body>

<p><b>$firstName $lastName,</b>  konzistentní růst je klíčem k excelenci! Ať už preferujete soukromou lekci nebo setkání s koučem, každá lekce vám pomáhá zůstat na správné cestě a dosáhnout konkrétního pokroku. Rezervujte si další lekci a pokračujte vpřed.</p>

<p>Pokud máte jakoukoli zpětnou vazbu, která by mohla vylepšit váš zážitek, neváhejte nám ji sdílet na <a href="$link" target="_blank">platform@topleader.io</a></p>

<p>Děkujeme,</p>

<p>Váš tým TopLeaderr</p>

</body>
</html>