<!DOCTYPE html>
<html>
<body>

<p>Bonjour <b>${firstName} ${lastName}</b>,</p>

<p>Nous voyons que votre objectif à court terme est <b>${shortTermGoal}</b>. C'est un objectif inspirant, et chaque étape est essentielle pour l'atteindre.</p>

<p>Qu'il s'agisse d'une session privée ou d'une session de coaching, la régularité déverrouille votre potentiel et accélère votre cheminement vers le développement.</p>

<p>Votre plan de développement personnalisé vous attend. Continuez à bâtir votre parcours unique vers le succès – vous êtes plus proche que vous ne le pensez.</p>

<p><b><a href="${appLink}" target="_blank">Connectez-vous et réservez votre prochaine session ici.</a></b></p>

<p>Nous sommes là pour vous accompagner à chaque étape.</p>

<p>Votre équipe TopLeader</p>

<p>P.S. Votre croissance est notre priorité. Si vous avez des suggestions ou des retours, n'hésitez pas à nous les partager à l'adresse <a href="${appLink}" target="_blank">platform@topleader.io</a></p>

</body>
</html>