<!DOCTYPE html>
<html>
<body>

<p>Ahoj <b>$firstName $lastName</b>,</p>

<p>Každý krok na cestě k růstu se počítá. Už jste přemýšleli o svém dalším velkém cíli? Stanovení jasného směru je prvním krokem k odemknutí vašeho potenciálu.</p>

<p>Jakmile si svůj cíl nastavíte, můžete udělat další krok prostřednictvím osobního sezení nebo sezení s našimi expertními kouči. Pravidelnost urychluje vaši cestu k rozvoji.</p>

<p>Váš personalizovaný plán na vás čeká. Pokračujte ve své jedinečné cestě k úspěchu – jste blíže, než si myslíte.</p>

<p><b><a href="$appLink" target="_blank">Přihlaste se a rezervujte si své další sezení zde</a></b></p>

<p>Jsme tu, abychom vás podpořili na každém kroku.</p>

<p>Tým TopLeader</p>

<p>P.S. Váš růst je naší prioritou. Pokud máte návrhy nebo zpětnou vazbu, podělte se s námi na <a href="$appLink" target="_blank">platform@topleader.io</a></p>

</body>
</html>