<!DOCTYPE html>
<html>
<body>

<p><b>$firstName $lastName,</b> your journey to growth is important to us. Regular check-ins, private or with a coach, are powerful for staying on course and reaching your goals. Book a session today to continue progressing on your path to excellence.</p>

<p>We value your feedback, so feel free to share any suggestions at <a href="$link" target="_blank">platform@topleader.io</a></p>

<p>Thank you,</p>

<p>Your TopLeader Team</p>

</body>
</html>