<!DOCTYPE html>
<html>
<body>

<p><b>$firstName $lastName,</b> kontinuierliches Wachstum ist der Schlüssel zur Exzellenz! Ob Sie eine private Sitzung oder eine Sitzung mit einem Coach bevorzugen, jede Sitzung hilft Ihnen, auf Kurs zu bleiben und konkrete Fortschritte auf Ihrem Weg zu machen. Buchen Sie Ihre nächste Sitzung, um weiter voranzukommen.</p>

<p>Wenn Sie Feedback haben, das Ihre Erfahrung verbessern könnte, teilen Sie es uns gerne unter <a href="$link" target="_blank">platform@topleader.io</a>mit.</p>

<p>Vielen Dank,</p>

<p>Ihr TopLeader-Team</p>

</body>
</html>