<!DOCTYPE html>
<html>
<body>

<p>Hallo <b>$firstName $lastName</b>,</p>

<p>wir sehen, dass Ihr kurzfristiges Ziel <b>$shortTermGoal</b> ist. Das ist ein inspirierendes Ziel, und jeder Schritt ist wichtig, um es zu erreichen.</p>

<p>Egal, ob es sich um eine private Sitzung oder ein Coaching-Gespräch handelt – Regelmäßigkeit schaltet Ihr Potenzial frei und beschleunigt Ihren Weg zur Weiterentwicklung.</p>

<p>Ihr personalisierter Entwicklungsplan wartet auf Sie. Gehen Sie weiter auf Ihrem einzigartigen Weg zum Erfolg – Sie sind näher dran, als Sie denken.</p>

<p><b><a href="$appLink" target="_blank">Melden Sie sich an und buchen Sie Ihre nächste Sitzung hier.</a></b></p>

<p>Wir sind da, um Sie auf jedem Schritt Ihrer Reise zu unterstützen.</p>

<p>Ihr TopLeader-Team</p>

<p>P.S. Ihr Wachstum liegt uns am Herzen. Wenn Sie Anregungen oder Feedback haben, teilen Sie es uns gerne unter <a href="$appLink" target="_blank">platform@topleader.io</a> mit.</p>

</body>
</html>