<!DOCTYPE html>
<html>
<body>

<p>Hallo <b>${firstName} ${lastName}</b>,</p>

<p>jeder Schritt auf dem Weg zur Weiterentwicklung zählt. Haben Sie schon über Ihr nächstes großes Ziel nachgedacht? Die Festlegung einer klaren Richtung ist der erste Schritt, um Ihr Potenzial freizusetzen.</p>

<p>Sobald Sie Ihr Ziel definiert haben, können Sie den nächsten Schritt mit einer privaten Sitzung oder einem Gespräch mit unseren Experten-Coaches machen. Regelmäßigkeit beschleunigt Ihren Weg zur Weiterentwicklung.</p>

<p>Ihr personalisierter Entwicklungsplan wartet auf Sie. Gehen Sie weiter auf Ihrem einzigartigen Weg zum Erfolg – Sie sind näher dran, als Sie denken.</p>

<p><b><a href="${appLink}" target="_blank">Melden Sie sich an und buchen Sie Ihre nächste Sitzung hier.</a></b></p>

<p>Wir sind da, um Sie auf jedem Schritt Ihrer Reise zu unterstützen.</p>

<p>Ihr TopLeader-Team</p>

<p>P.S. Ihr Wachstum liegt uns am Herzen. Wenn Sie Anregungen oder Feedback haben, teilen Sie es uns gerne unter <a href="${appLink}" target="_blank">platform@topleader.io</a> mit.</p>

</body>
</html>