<!DOCTYPE html>
<html>
<body>

<p><b>$firstName $lastName,</b> le développement continu mène aux meilleurs résultats ! Une session régulière, qu'elle soit privée ou avec un coach, vous aide à maintenir l'élan et à rester aligné sur vos objectifs. Prenez un moment pour planifier votre prochaine session et avancez dans votre parcours vers l'excellence.</p>

<p>Nous sommes là pour vous soutenir – tout retour est bienvenu à <a href="$link" target="_blank">platform@topleader.io</a></p>

<p>Merci,</p>

<p>Votre équipe TopLeader</p>

</body>
</html>