<!DOCTYPE html>
<html>
<body>
<p>🌟 Entfesseln Sie Ihr Potenzial mit TopLeader! 🌟</p>

<p>Liebe(r)  <b>$firstName $lastName, </b></p>

<p>🎉 Herzlichen Glückwunsch zur Anmeldung auf der TopLeader-Coaching-App! 🎉</p>

<p>Ihre Reise zu außergewöhnlichem persönlichen Wachstum beginnt heute. Hier erfahren Sie, wie Sie starten können:</p>

<p>Für Ihre erste Anmeldung richten Sie hier Ihr Passwort <a href="$passwordLink" target="_blank"> ein</a> </p>
<p>Für weitere Anmeldungen können Sie TopLeader unter dieser URL aufrufen: <a href="$appUrl" target="_blank"> $appUrl</a></p>
<p><b>Benutzername:</b> Verwenden Sie Ihre E-Mail-Adresse.</p>


<p>Wir haben TopLeader mit IHNEN im Blick entwickelt und stellen sicher, dass jeder Schritt, den Sie hier unternehmen, in Richtung einer helleren, besseren Zukunft führt. Nutzen Sie den Reichtum an Wissen, Tipps und Tools, die auf Sie warten, und beobachten Sie, wie sie Ihre Welt verändern.</p>

<p>Vielen Dank, dass Sie sich für TopLeader entschieden haben. Lassen Sie uns gemeinsam zu neuen Höhen aufsteigen! 🚀</p>

<p>Herzliche Grüße,</p>

<p>Ihr TopLeader-Team</p>
</body>
</html>