Czech version:

Title: 🌟 Odemkněte svůj potenciál s TopLeader! 🌟

Vážený/Vážená $firstName $lastName,

🎉 Gratulujeme k připojení k platformě TopLeader! 🎉

Vaše cesta k mimořádnému osobnímu rozvoji začíná dnes. Zde je návod, jak začít:

Přihlaste se zde: $appUrl 🖱️
Uživatelské jméno: Použijte svou e-mailovou adresu.
Heslo: Prosím, nastavte si své vlastní unikátní heslo při prvním přihlášení.

TopLeader byl navržen s MYŠLENKOU NA VÁS, aby každý váš krok zde směřoval k jasnější a lepší budoucnosti. Vstřebávejte bohatství znalostí, tipů a nástrojů, které na vás čekají, a sledujte, jak transformují váš svět.

Děkujeme, že jste si vybrali TopLeader. Pojďme společně stoupat k novým výšinám! 🚀

Srdečné pozdravy,

Tým TopLeader
