<!DOCTYPE html>
<html>
<body>
<p>🌟 Odemkněte svůj potenciál s TopLeader! 🌟 </p>

<p>Vážený/Vážená <b>${firstName} ${lastName}, </b></p>

<p>🎉 Gratulujeme k připojení k platformě TopLeader! 🎉</p>

<p>Vaše cesta k mimořádnému osobnímu rozvoji začíná dnes. Zde je návod, jak začít:</p>


<p>Pro vaše první přihlášení si nastavte heslo<a href="${passwordLink}" target="_blank"> zde</a> </p>
<p>Pro další přihlášení můžete přistupovat k TopLeader na této URL: <a href="${appUrl}" target="_blank"> ${appUrl}</a></p>
<p><b>Uživatelské jméno:</b> Použijte svoji emailovou adresu.</p>

<p>TopLeader byl navržen s MYŠLENKOU NA VÁS, aby každý váš krok zde směřoval k jasnější a lepší budoucnosti. Vstřebávejte bohatství znalostí, tipů a nástrojů, které na vás čekají, a sledujte, jak transformují váš svět.</p>

<p>Děkujeme, že jste si vybrali TopLeader. Pojďme společně stoupat k novým výšinám! 🚀</p>

<p>Srdečné pozdravy,</p>

<p>Tým TopLeader</p>
</body>
</html>