<html>
<body>
🌟 Débloquez Votre Potentiel avec TopLeader! 🌟

Cher(e) $firstName $lastName,

🎉 Félicitations pour avoir rejoint la plateforme de coaching TopLeader! 🎉

Votre voyage vers une croissance personnelle exceptionnelle commence aujourd'hui. Voici comment débuter :

<a href="$appUrl " target="_blank">Connectez-vous ici</a>
Nom d'utilisateur: Utilisez votre adresse e-mail.
Mot de passe: Veuillez définir votre propre mot de passe lors de votre première connexion.

TopLeader a été conçu en pensant à VOUS, garantissant que chaque étape que vous franchissez ici vous mène vers un avenir plus radieux et meilleur. Profitez de la richesse des connaissances, des astuces et des outils qui vous attendent et voyez comment ils transforment votre monde.

Merci d'avoir choisi TopLeader. Envolez-vous vers de nouveaux sommets ensemble! 🚀

Cordialement,

L'équipe TopLeader
</body>
</html>