<!DOCTYPE html>
<html>
<body>
<p>Cher/Chère <b>$firstName $lastName,</b></p>

<p>Vous avez reçu un nouveau message sur la plateforme TopLeader. Vous pouvez vous connecter à votre compte TopLeader via ce <p><a href="$link" target="_blank">LIEN</a></p> pour lire le message et y répondre.</p>

<p>Cordialement, L'équipe TopLeader</p>
</body>
</html>