<!DOCTYPE html>
<html>
<body>
<p>Dear <b>$firstName $lastName,</b></p>

<p>You've received a new message on the TopLeader platform. You can log in to your TopLeader account via this <p><a href="$link" target="_blank">LINK</a></p> to read the message and respond.</p>

<p>Best regards, The TopLeader Team</p>
</body>
</html>