# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build/Deploy top-leader-be

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B verify --file pom.xml

  deploy:
#    needs: [ build ]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v3
      - uses: 73h/gae-app-yaml-replace-env-variables@v0.3
        with:
          app_yaml_path: src/main/appengine/app-qa.yaml
        env:
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}

      - name: Deploy top-leader-be
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Cloud Authentication
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

#      - name: Set up Cloud SDK
#        uses: google-github-actions/setup-gcloud@v1
#        with:
#          version: '>= 445.0.0'


#
#      - name: Deploy with Maven
##        run: mvn package -Dmaven.test.skip=true
#        run: mvn clean package  --file pom.xml -Dmaven.test.skip=true appengine:deploy -Dapp.deploy.projectId=topleader-394306 -Dapp.deploy.version=$(git rev-parse --short "$GITHUB_SHA")

#      - name: Upload .jar to Bucket
#        uses: google-github-actions/upload-cloud-storage@v1
#        with:
#          path: target
#          destination: top-leader-be-deploy/top-leader.jar
#
#      - name: Upload app.yaml to Bucket
#        uses: google-github-actions/upload-cloud-storage@v1
#        with:
#          path: src/main/appengine/app.yaml
#          destination: top-leader-be-deploy

#      - name: ls 1
#        run: pwd & ls -l
#
#      - name: ls 2
#        run: ls target

      - name: Install app-engine-java
        run: sudo apt-get install google-cloud-sdk-app-engine-java
#
      - name: App Deploy
        run: gcloud app deploy --project=topleader-394306 --appyaml=src/main/appengine/app-qa.yaml --version=$(git rev-parse --short "$GITHUB_SHA")  --verbosity=debug
#
#
#gcloud app deploy --appyaml=top-leader/app.yaml --version=test-top78
