# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
name: Build/Deploy top-leader-be


on:
  push:
    branches: [ "main", "deploy-test" ]
  pull_request:
    branches: [ "main", "deploy-test" ]

jobs:
  build:
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'
        cache: maven

    - name: Build with Maven
      run: mvn -B verify --file pom.xml

  deploy:
#    needs: build
    #    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4
      - uses: 73h/gae-app-yaml-replace-env-variables@v0.3
        with:
          app_yaml_path: src/main/appengine/qa/app.yaml
        env:
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD_QA }}
          SPRING_MAIL_PASSWORD: ${{ secrets.SPRING_MAIL_PASSWORD }}

      - name: Deploy top-leader-be
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Cloud Authentication
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: '>= 445.0.0'

      - name: Install app-engine-java
        run: gcloud components install app-engine-java

      - name:  gcloud config set storage/use_gsutil true
        run:  gcloud config set storage/use_gsutil true

#      - name: App Deploy
#        run: gcloud app deploy --project=topleader-394306 --appyaml=src/main/appengine/qa/app.yaml --version=$(git rev-parse --short "$GITHUB_SHA")  --verbosity=debug
      - name: Deploy with Maven
        run: mvn clean package appengine:deploy -Dapp.stage.appEngineDirectory=src/main/appengine/qa -Dgcloud.verbosity=debug -Dpromote -Dmaven.test.skip=true -e
